{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col-7 text-bg-secondary">
    <form action="{{ url_for('post.process_upgrade_post', post_id=post.id) }}" method="POST">
        <div class="row">
            {{ form_post.hidden_tag() }}
            <div class="mb-3 form-check">
                <div class="form-label fs-5" style='margin-left: -11px' >Редактирование поста:</div>
                <div class="form-label fs-4" style='margin-left: -11px' >{{ post.title }}</div>
                {{ form_post.post_text() }}
            </div>
        </div>

        <div class="row">
            <div class="col-7">
                <div class="row row-cols-2 gy-2">
                    <div class="col-4">{{ form_post.title.label(class='col-form-label') }}</div>
                    <div class="col-8">{{ form_post.title() }}</div>

                    <div class="col-4">{{ form_post.syntax.label(class='col-form-label') }}</div>
                    <div class="col-8">{{ form_post.syntax() }}</div>

                    <div class="col-4">{{ form_post.lifespan.label(class='col-form-label') }}</div>
                    <div class="col-8">{{ form_post.lifespan() }}</div>

                    <div class="col-4">{{ form_post.privacy.label(class='col-form-label') }}</div>
                    <div class="col-8">{{ form_post.privacy() }}</div>

                    <div class="col-4">{{ form_post.password_post.label(class='col-form-label') }}</div>
                    <div class="col-8">
                        <div class="input-group mb-3">
                          <div class="input-group-text">
                            {{ form_post.is_password() }}
                          </div>
                            {{ form_post.password_post() }}
                        </div>
                    </div>

                    <div class="col-4"></div>
                    <div class="col-8">{{ form_post.submit_update() }}</div>
                </div>
            </div>
            <div class="col-5 bg-primary-lighter">ЛИЧНЫЙ ПРОФИЛЬ</div>
        </div>
    </form>
    </div>

    <div class="col-5 text-bg-secondary p-3">Топ 10 постов</div>

</div>
{% endblock %}









